@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    font-family: "Fira Code", monospace;
    margin: 0px;
}

body {
    position: absoulute;
	background: linear-gradient(-45deg, red, blue, red, blue);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: calc(100vh - 10px);
    padding: 0px;
}

.Terminal {
    --padding: 50px;
    --margin: 10px;
    padding: var(--padding);
    margin: var(--margin);
    height: calc(100vh - calc(calc(var(--padding) + var(--margin)) * 2));
    border-radius: 10px;
    background: #111;
    color: white;
}

input {
    background: none;
    color: white;
    border: none;
    font-size: 1.01rem;
    margin-left: 10px;
}

input:focus {
    outline: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
